@page "/"

@*<h1><br />Welcome to your Cricket Manager</h1>*@


<br />

@*<TelerikButton OnClick="@SayHelloHandler" ThemeColor="@(ThemeConstants.Button.ThemeColor.Primary)">Say Hello</TelerikButton>*@

<br />


<TelerikButton>
    <img src="/cricket.jpg" asp-append-version="true" width="900px"/>
<a href="CricketTeams">View Cricket Teams</a>
</TelerikButton>

@*@helloString*@

@code {
    //MarkupString helloString;

    //void SayHelloHandler()
    //{
    //    string msg = string.Format("Hello from <strong>Telerik Blazor</strong> at {0}.<br /> Now you can use C# to write front-end!", DateTime.Now);
    //    helloString = new MarkupString(msg);
    //}
}